/* main .main-index{
    
} */

main .main-index .page{
    padding:20px;
    box-sizing: border-box;
}

main .main-index .page section{
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 30px;
    border-bottom: solid 0.5px #eee;
    transition: all 0.3s;
    border-radius: 10px;
}

main .main-index .page section > h1{
    margin-bottom:15px;
}
main .main-index .page section > h1 a{
    font-size: 30px;
    color: #404040;
}

main .main-index .page section .post-content{
    font-weight: 100;
    color: #a3a3a3;
    line-height:2;
}

main .main-index .page section .post-footer{
    display:flex;
    justify-content: flex-end;
    align-items:center;
    margin-top:5px;
    color:#a3a3a3;
}
main .main-index .page section .post-footer .post-footer-time{
    display:flex;
    align-items: center;
}
main .main-index .page section .post-footer .post-footer-time i{
    margin-right:5px;
    font-size:15px;
}
main .main-index .page section .post-footer .post-footer-time span{
    font-weight:100;
}

main .main-index .page section:hover{
    box-shadow:3px 1px 5px rgba(0, 0,0,.1);
}

main .main-index .page .next-btn{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:0 40px;
    margin:30px 0;
    white-space: nowrap;
    box-sizing: border-box;
}

main .main-index .page .next-btn a{
    padding:0 40px;
    line-height:40px;
    border:solid 0.5px #bbb;
    border-radius:10px;
    color: #404040;
    display: block;
    font-size:15px;
    transition:all 0.3s;
}

main .main-index .page .next-btn a:hover{
    background-color:#404040;
    color:#fff;
    border-color:#404040;
}

main .main-index .page .next-btn .page-num{
    font-size:15px;
    color:#a3a3a3;
    font-weight:100;
}

