@media screen and (max-width:1000px) and (min-width:768px){
    /* .top-nav{
        background-color:red;
    } */
    main .main-index{
        flex-direction:column;
    }
    main .main-index .page{
        width:100%;
        padding:20px 40px;
    }
    main .main-index .index-right{
        width:100%;
        padding:0 40px;
    }
    main .main-index .index-right .sidebar .about .about-content{
        flex-direction: row;
        align-items: center;
    }
    main .main-index .index-right .sidebar .about .about-content .about-msg{
        align-items: center;
        margin-left:20px;
    }
}

@media screen and (max-width:768px){
    .top-nav{
        padding:10px 20px;
    }
    header{
        height:360px;
    }
    header .header-banner{
        height:360px;
    }
    header .header-container h1{
        font-size:50px;
    }
    header .header-container h3{
        font-size:15px;
    }
    main .main-index{
        flex-direction:column;
    }
    main .main-index .page{
        width:100%;
        padding:10px;
    }
    main .main-index .page section{
        padding:10px;
    }
    main .main-index .page section > h1 a{
        font-size:25px;
    }
    main .main-index .page section .post-content{
        font-size:15px;
    }
    main .main-index .page .next-btn{
        padding:0 10px;
    }
    main .main-index .page .next-btn a{
        /* padding:0 15px;
        line-height:20px; */
        border-radius:5px;
        font-size:14px;
    }
    main .main-index .page .next-btn .page-num{
        font-size:15px;
    }
    main .main-index .index-right{
        width:100%;
        padding:0 20px;
    }
    main .main-index .index-right .sidebar .about .about-content{
        flex-direction: row;
        align-items: center;
    }
    main .main-index .index-right .sidebar .about .about-content .about-msg{
        align-items: center;
        margin-left:20px;
    }

    footer .footer-container{
        justify-content: center;
    }
}